

@padding-top: 150px;
@red: #FF0000;

* {
	cursor:  none;
	margin:  0;
	padding: 0;
}

body, html {
	position:    relative;
	height:      100%;
	width:       100%;
	margin:      0;
	font-family: 'Montserrat', sans-serif;
	font-style:  normal;
}

.container {
	max-width:     1240px;
	margin-left:   auto;
	margin-right:  auto;
	box-sizing:    border-box;
	padding-left:  50px;
	padding-right: 50px;
}

.arrow {
	text-align:          center;
	span{
		height: 85px;
		display: block;
		background-image:    url("../img/arrow_long.svg");
		background-repeat:   no-repeat;
		background-position: center;
	}
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

.header {

	position: fixed;
	top:      -100px;
	left:     0;
	right:    0;
	z-index:  10;

	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	user-select:         none;

	animation: 1s forwards;
	animation-name: slidein;

	&__container {
		display:         flex;
		justify-content: space-between;
		align-items:     center;
		padding-top:     15px;
		padding-bottom:  15px;
	}

	&__nav {
		display:         flex;
		justify-content: space-between;
		align-items:     center;
		text-align: center;
	}

	&__logo {
		display:         block;
		width:           50px;
		height:          50px;
		font-size:       0;
		text-decoration: none;
		background-image: url("../img/z.svg");

		background-repeat:   no-repeat;
		background-size:     contain;
		background-position: center;

	}

	&__item {
		display:         block;
		font-size:       21px;
		line-height:     50px;
		padding-right:   35px;
		text-decoration: none;
		color:           black;
		margin-left:     15px;
		transition:      opacity .2s;
		background-position: right top;

		&:last-child{
			padding-right:   0;
		}
		&:hover {
			opacity: 0.8;
		}

		&::before,
		&::after {
			display:            inline-block;
			opacity:            0;
			-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
			-moz-transition:    -moz-transform 0.3s, opacity 0.2s;
			transition:         transform 0.3s, opacity 0.2s;
		}

		&::before {
			margin-right:      10px;
			content:           '[';
			-webkit-transform: translateX(20px);
			-moz-transform:    translateX(20px);
			transform:         translateX(20px);
		}

		&::after {
			margin-left:       10px;
			content:           ']';
			-webkit-transform: translateX(-20px);
			-moz-transform:    translateX(-20px);
			transform:         translateX(-20px);
		}

		&:hover::before,
		&:hover::after,
		&:focus::before,
		&:focus::after {
			opacity:           1;
			-webkit-transform: translateX(0px);
			-moz-transform:    translateX(0px);
			transform:         translateX(0px);
		}
	}

	&__toggle {
		display:          none;
		width:            65px;
		height:           25px;
		font-size:        0;
		border:           0;
		background-color: transparent;
		cursor:           pointer;
		transition:       opacity .2s;
		background-image: url("../img/icon__burger.svg");

		&:hover {
			opacity: 0.8;
		}
	}
}


.menu {
	display:          flex;
	flex-grow:        1;
	position:         fixed;
	top:              0;
	left:             0;
	right:            0;
	background-color: white;
	max-height:       100%;
	height:           100%;
	width:            100%;
	z-index:          9;
	transform:        translate(0, -100%);
	transition:       transform 0.4s ease-in-out;
	overflow:         hidden;

	&_opened {
		transform:  translate(0, 0);
		overflow-y: auto;
	}

	&__container {
		display:        flex;
		flex-direction: column;
		align-items:    center;
		flex-grow:      1;
	}

	&__space {
		margin-top: 20px;
		height:     100%;
		max-height: 140px;
		flex-grow:  1;
	}

	&__close {
		font-size:        0;
		text-decoration:  none;
		margin-top:       11px;
		display:          block;
		width:            59px;
		height:           37px;
		flex-shrink:      0;
		margin-left:      auto;
		margin-right:     auto;
		background-image: url("../img/icon__close.svg");
		background-repeat:      no-repeat;
		background-size:        contain;
		background-position:    center;
	}

	&__nav {
		display:        flex;
		flex-direction: column;
		align-items:    flex-start;
	}

	&__item {
		display:         inline-block;
		margin-bottom:   30px;
		padding-right:   40px;
		font-size:       35px;
		font-weight:     400;
		line-height:     35px;
		text-decoration: none;
	}
}

.active {
	background-color: rgba(255,255,255, .9);
	box-shadow:       0 2px 6px 0 rgba(0, 0, 0, .1), 0 3px 10px 0 rgba(0, 0, 0, .1);
	transition:       box-shadow .3s;
}

.iam {

	display:      flex;
	align-items:  center;
	padding-top: @padding-top;

	&__image{
		display:             block;
		width:               450px;
		height:              450px;
		background-image:    url("../img/me.jpeg");
		-webkit-filter:      grayscale(1%);
		filter:              grayscale(1%);
		background-repeat:   no-repeat;
		background-size:     contain;
		background-position: center;
		margin-right:        -50px;

		.cursor_big{
			position:relative;
			z-index: 10;
		}
	}
	&__descr {
		position:       relative;
		top:            -100px;
		pointer-events: none;
		float:          right;
		font-weight:    600;
		font-size:      60px;
		line-height:    80px;
		width:          800px;
		z-index:        5;
		animation:      2s slidein forwards;
	}

	p{
		margin:  0;
		padding: 0;
	}
}

.experience{

	font-size:   15px;
	font-weight: normal;
	line-height: 30px;

	&__container{
		display:         flex;
		justify-content: space-between;
		text-align:      left;
		padding-top:     @padding-top;
	}

	&__item{
		max-width: 350px;
	}

	&__title {
		margin-top: 10px;
		color:      @red;
	}

	&__year {
		margin-top: 15px;
		color:      grey;
	}
	&__cv{
		margin-top: 40px;
		a {
			text-decoration: none;
			display:         inline-block;
			vertical-align:  top;
			color:           @red;
			&:after {
				width:             40px;
				height:            30px;
				content:           '';
				background-image:  url("../img/arrow_long.svg");
				display:           inline-block;
				background-repeat: no-repeat;
				background-size:   contain;
				vertical-align:    middle;

				background-position: center;
				transform:           rotate(-90deg);
			}
		}


	}
}

.myskills{

	&__container{
		max-width:     100%;
		padding-top:   @padding-top;
		padding-left:  0;
		padding-right: 0;
		overflow:      hidden;
	}

	.slideshow{
		width: 100%;
	}
	.slide {
		font-size:   80px;
		line-height: 105px;
		font-weight: 800;
		margin:      0 32px;

		@supports (-webkit-text-stroke: 1px black) {
			-webkit-text-stroke:     1px black;
			-webkit-text-fill-color: white;
		}
	}
}


.myprojects {
	position: relative;

	padding-top: @padding-top;

	&__project {

		max-width:     calc(50% - 0.8px);
		margin-bottom: 50px;
	}

	&__descr {
		background-repeat:   no-repeat;
		background-size:     cover;
		background-position: center;
		height:              400px;

		.overlay{
			background: rgba(0, 0, 0, 0.5);
			color:      #f1f1f1;
			width:      100%;
			transition: .5s ease;
			opacity:    0;
			color:      white;
			font-size:  20px;
		}

		&:hover .overlay {
			opacity:    1;
			transition: .5s ease;
		}

		span {
			font-size:       20px;
			display:         flex;
			justify-content: center;
			flex-direction:  column;
			font-weight:     500;
			padding:         50px;
			box-sizing:      border-box;
			height:          100%;
			text-align:      center;
		}

	}

	.swiper-container {
		width:  100%;
		height: 400px;
	}
}

.swiper-button-next,
.swiper-button-prev {
	position:            absolute;
	margin-top:          50px;
	background-repeat:   no-repeat;
	background-size:     123px;
	background-position: 5px center;
	width:               38px;
	height:              38px;
	background-color:    transparent;
	border:              none;
	background-image:    url("../img/arrows_sprite.svg");
	background-repeat:   no-repeat;
	background-size:     contain;
	background-position: center;
	outline:             none;

	&:hover {
		background-position: center;
	}

	&:active {
		background-position: -90px center;
	}
}

.swiper-button-prev {
	left:     30px;
	right:      auto;
	transform: rotate(180deg);
}
.swiper-button-next {
	right:  30px;
	left: auto;
}

.contact {

	padding-top:    @padding-top;
	padding-bottom: 50px;

	&__items{
		display:         flex;
		justify-content: space-evenly;
		align-items:     center;

		top:0;
		height:100%;
	}
	&__item{
		position:relative;
		text-decoration: none;
		color:           black;
		font-size:       30px;
		font-weight:     600;
		line-height:     45px;
		z-index:1;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(90deg,@red,@red 50%,black 50%);
		background-size: 200% 100%;
		background-position: -100%;
		transition: all 0.3s ease-in-out;
		&:before{
			display:block;
			content:'';
			width:0;
			height:3px;
			bottom:5px;
			left:0;
			bottom:-3px;
			z-index:0;
			position:absolute;
			background:@red;
			transition: all 0.3s ease-in-out;
		}
		&:hover{
			background-position: 0%;
			&:before{
				width:100%;
			}
		}

	}
	&__items-divider {
		width:             1px;
		height:            53px;
		background-color:  @red;
		-webkit-transform: rotate(20deg);
		-ms-transform:     rotate(20deg);
		transform:         rotate(20deg);
	}

}


@keyframes slidein {
	0% {
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}


.cursor-dot,
.cursor-dot-outline {
	pointer-events: none;
	position:       absolute;
	top:            50%;
	left:           50%;
	border-radius:  50%;
	opacity:        0;
	transform:      translate(-50%, -50%);
	transition:     opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
	z-index:          100;
	width:            8px;
	height:           8px;
	background-color: @red;
}

.cursor-dot-outline {
	z-index: 100;
	width:   40px;
	height:  40px;
	border:  solid 1px @red;

}


// svg {
	// 	max-width: 95%;
	// 	max-height: 95%;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	margin: auto;
	//
	// 	path {
		//
		// 		fill-opacity: 1;
		// 		stroke-width: 1;
		// 		stroke-dasharray: 870;
		// 		stroke-dashoffset: 870;
		// 		animation: draw 2s linear;
		//
		// 	}
		//
		// }
		//
		// @keyframes draw {
			// 	to {
				// 		stroke-dashoffset: 0;
				// 	}
